<a href="https://colab.research.google.com/github/junaidurrehmankhan/class_3_assignment/blob/main/Assignment_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1: String Concatenation and Formatting**

In [7]:
name = "Junaid"
age = 33
country = "UAE"
text = "My name is " + name + ", I am " + str(age) + " years old, and I live in " + country + "."
print (text)

My name is Junaid, I am 33 years old, and I live in UAE.

In [8]:
name = "Junaid"
age = 33
country = "UAE"

text = "My name is " + name + ", I am " + str(age) + " years old, and I live in " + country + "."
print(text)

My name is Junaid, I am 33 years old, and I live in UAE.

In [ ]:
name = "Junaid"
age = 33
country = "UAE"

print ("My name is " + name + ", I am " + str(age) + " years old, and I live in " + country + ".")

My name is Junaid, I am 33 years old, and I live in UAE.

In [ ]:
name = "Junaid"
age = 33
country = "UAE"

print ("My name is " + name + ", I am " + str(age) + " years old, and I live in " + country + ".")

My name is Junaid, I am 33 years old, and I live in UAE.

In [ ]:
name = "Junaid"
age = 33
country = "UAE"
print ("My name is " + name + ", I am " + str(age) + " years old, and I live in " + country + ".")

My name is Junaid, I am 33 years old, and I live in UAE.

**Assignment 2: String Formatting using `.format()`**

In [11]:
quantity = 3
item = "apple"
price = float(1.25)
total_cost = quantity * price

print ("I bought {} {}(s) at {} each, for a total of ${:.2f}.".format(quantity, item, price, total_cost))

I bought 3 apple(s) at 1.25 each, for a total of $3.75.

In [ ]:
laptop = "Mcbook"
price = 10599.00
quantity = 2
total_cost = price * quantity

print ("I bought {} {}(s) at {} each, for a total of ${}.".format(quantity, laptop, price, total_cost))

I bought 2 Mcbook(s) at 10599.0 each, for a total of $21198.0.

**Assignment 3: String Interpolation using `f''`**

In [12]:
city = "Karachi"
temperature = 34

text = f"Temperature in {city} is {temperature} degree celcius."
print(text)

Temperature in Karachi is 34 degree celcius.

**Assignment 4: String Formatting using `%()`**

In [ ]:
first_name = "Junaid"
last_name = "Khan"
birth_year = 1990
current_year = 2023
age = current_year - birth_year

text = ("My name is %(first_name)s %(last_name)s and I am %(age)d years old.") %{"first_name": first_name, "last_name": last_name, "age": age}
print (text)

My name is Junaid Khan and I am 33 years old.

**Assignment 5: Combining Formatting Methods**

In [6]:
smart_phone = "apple_iphone"
discount = 10
original_price = 5100
discounted_price = original_price *(1-discount/ 100)
text = f"smart_phone: {smart_phone}\noriginal_price: AED{original_price: .2f}\ndiscount: {discount}%\ndiscouted_price: AED{discounted_price: .2f}"
print (text)

smart_phone: apple_iphone
original_price: AED 5100.00
discount: 10%
discouted_price: AED 4590.00

In [4]:

product = "Smartphone"
discount = 5
original_price = 5000
discounted_price = original_price * (1 - discount / 100)
descriptive_string = f"Product: {product}\nOriginal Price: ${original_price:.2f}\nDiscount: {discount}%\nDiscounted Price: ${discounted_price:.2f}"

print(descriptive_string)

Product: Smartphone
Original Price: $5000.00
Discount: 5%
Discounted Price: $4750.00